html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-bg {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow-x: hidden;
  background-image:
  linear-gradient(rgba(244,217,208,0.22), rgba(244,217,208,0.22)),
  url('./Components/Assets/homepagebg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}


