#heading {
  font-family: "Concert One", sans-serif;
  font-size: 30px;
  color: #921A40;
}

.nav-pills .nav-link {
  color: #921A40;
  font-weight: 700;
  font-size: 30px;
  transition: color 0.2s;
}

.nav-pills .nav-link:hover {
  color: #D14D72;
}

svg{
  gap: 10px;
}
